
<% content_for :header do %>
  <div class='hero-banner'>
    <%= image_tag 'mainbanner/bigtent.png', class: 'big-top', alt: '' %>
    <%= image_tag 'mainbanner/clowncarnage.png', class: 'clowns', alt: '' %>

    <div class='cover'></div>
    <%= image_tag 'mainbanner/hecknahead.png', class: 'heckna-img', alt: '' %>
    <%= image_tag 'mainbanner/hecknacircus.png', class: 'big-text', alt: '' %>
    <%= image_tag 'mainbanner/hecknacircus.png', class: 'big-text', alt: "Heckna's Traveling Circus" %>
    <%= image_tag 'mainbanner/datesbanner.png', class: 'banner', alt: 'Dates: Aug 14th to 16th 2026' %>
    <%= image_tag 'mainbanner/separator.png', class: 'separator', alt: '' %>

  </div>
<% end %>

<div class='row'>
  <div class='col-8'>
    <section class='home-message-board'>
      <h2>Notice Boards</h2>
      <div class='notices'>
        <% @notices.each do |notice| %>
          <article class='scroll'>
            <div class='scroll-top'></div>
            <header>
              <h3><%= notice.header %></h3>
            </header>
            <p><%= render_md(notice.description) %></p>
            <div class='scroll-bottom'></div>
          </article>
        <% end %>
      </div>
    </section>
  </div>
  <div class='col-4'>
    <section class='home-my-schedule'>
      <h2>My Schedule</h2>
      <% if @events.count.positive? %>
        <% @events.each do |event| %>
          <div class='home-schedule-event page-bg'>
            <%= event.title %>
            <span><%= event.time_slot.present? ? event.time_slot : 'Not placed yet'%></span>
          </div>
        <% end %>
      <% else %>
        <p>Currently no events...</p>
      <% end %>
    </section>
  </div>
</div>
