<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/head_nav' %>
    <div class='admin'>
      <%= render 'layouts/alerts' %>
      <div class='container'>
        <h2>Admin</h2>
        <div class='main-area'>
          <aside>
            <ul>
              <li><%= link_to 'Notices', notices_path, class: 'common-radius' %></li>
              <li><%= link_to 'Gaming Year', gaming_years_path, class: 'common-radius' %></li>
              <li><%= link_to 'Submitted Games', events_path, class: 'common-radius' %></li>
              <li><%= link_to 'Users', users_path, class: 'common-radius' %></li>
            </ul>
          </aside>
          <main>
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
    
  </body>
  
</html>
