<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body style='background-image: url("<%= asset_path('paper-background.jpg') %>")'>
    <%= render 'layouts/head_nav' %>
    <main>
      <div class='container'>
        
        <%= render 'layouts/alerts' %>
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class='container'>
        <div class='attribution bg'>
          <a href="https://www.freepik.com/free-photo/vintage-grunge-paper-background_5405364.htm#query=old%20paper&position=0&from_view=keyword&track=ais">Background Image by kjpargeter</a> on Freepik
        </div>
      </div>
    </footer>
    <script>
      // Register Service Worker
      if (typeof navigator.serviceWorker !== 'undefined') {
        navigator.serviceWorker.register('<%= asset_path "service_worker.js" %>')
      }
    </script>
  </body>
</html>
